a { 
  color: #C8102E;
  text-decoration: none;
} /* UH red */
* { font-family: system-ui }
@media (prefers-color-scheme: dark) {
  body { background-color: #000000; }
}
header {
  font-size: 175%;
}

body {
  font-size: 175%;
}

footer { 
  /*background-color: #960C22; 
  color: #C8102E;
  position: fixed;
  bottom: 0;*/
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

